/* body{
    width: 100%;
    margin: auto;
} */

h1{
    font-family: 'Courier New', 'Courier', 'monospace';
    color: aliceblue;
}

.container{
    width: 70%;
    margin: auto;
    border: 1px solid #333;
} 

.header{
    margin: auto;
    background-image: url('images/header.jpg');
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

.left{
    /* border: 1px solid black; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.center{
    /* border: 1px solid black; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
div.right{
    /* border: 1px solid black; */
    width: 70%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}